@page "/"
@namespace KseniiaIllustrator.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "_Layout";
}

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>Ksenia Illustrator</title>
    <base href="/" />        
    <link href="_content/KseniiaIllustrator/css/site.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;700">
</head>


<component type="typeof(App)" render-mode="ServerPrerendered" />
