@page "/"
@page "/work"

<div class="preview-gallery">
    @foreach (var projectPreview in ProjectPreviews)
    {
        <div class="preview-gallery-item">
            <img src="@projectPreview.ThumbnailImage">
            <div class="overlay"></div>
            <div class="thumb-title">
                @projectPreview.Title
                <br/>
                <h2>@projectPreview.ShortDescription</h2>
            </div>
        </div>
    }
    <div class="preview-gallery-item">        
    </div>
</div>

@code {
    [Inject]
    public IProjectsPreviewRepository ProjectsDataService { get; set; }

    public IEnumerable<ProjectPreview> ProjectPreviews = new List<ProjectPreview>();

    protected override async Task OnInitializedAsync()
    {
        ProjectPreviews = ProjectsDataService.GetAllProjectPreviews().ToList();
    }
}