body {
    background: #F2F1F1;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-style: normal;
    line-height: 1.8em;
    letter-spacing: 0em;
    font-size: 14px;
}

/* Header */
.header {
    position: fixed;
    margin: auto;
    padding-top: 20px;
    font-size: 24px;
    text-align: center;
    font-weight: 400;
    line-height: 1.2em;
    text-align: center;
}

.header p {
    letter-spacing: 0em;
    margin: 0px;
}

.header-logo {
    display: block;
    background: url(http://claudiosalas.com/s/cloud-header-high.png) no-repeat;
    background-size: cover;
    width: 64px;
    height: 45px;
    margin-top: 6px;
    margin-left: auto;
    margin-right: auto;
}

.header-title {
    color: #404040;
}

.header-menu {
    color: #aaa;
}

.header-menu span {
    cursor: pointer;
}

/* Footer */
.footer {
    text-align: center;
    padding-bottom: 60px;
}

.social-icon {
    cursor: pointer;
    padding: 10px;
    font-size: 20px;
    width: 20px;
    height: 20px;
    text-decoration: none;
    border-radius: 100%;
    background: grey;
    color: #f2f2f2;
}
