body {
    background: #F2F1F1;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-style: normal;
    line-height: 1.8em;
    letter-spacing: 0em;
    font-size: 14px;
}

body::-webkit-scrollbar {
    display: none;
}

/* Header */
.header {
    position: fixed;
    z-index: 10;
    background: inherit;
    top: 0;
    width: 100%;
    padding-top: 20px;
    font-size: 24px;
    text-align: center;
    font-weight: 400;
    line-height: 1.2em;
    text-align: center;
}

.header p {
    letter-spacing: 0em;
    margin: 0px;
}

.header-logo {
    display: block;
    background: url(http://claudiosalas.com/s/cloud-header-high.png) no-repeat;
    background-size: cover;
    width: 64px;
    height: 45px;
    margin-top: 6px;
    margin-left: auto;
    margin-right: auto;
}

.header-title {
    color: #404040;
}

.header-menu,
.header-menu a {
    cursor: pointer;
    color: #aaa !important;
    text-decoration: none;
}

/* Footer */
.footer {
    position: fixed;
    z-index: 20;
    background: inherit;
    bottom: 0;
    padding-top: 10px;
    padding-bottom: 30px;
    width: 100%;
    text-align: center;
}

.social-icon {
    cursor: pointer;
    padding: 10px;
    font-size: 20px;
    width: 20px;
    height: 20px;
    text-decoration: none;
    border-radius: 100%;
    background: grey;
    color: #f2f2f2;
}

/* Page Content*/
.page-content {
    z-index: 0;
    margin: 160px 6px;
    max-width: none;
    width: 100%;
}

/* Projects list*/
.preview-gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
}

.preview-gallery-item {
    height: 40vh;
    flex-grow: 1;
    cursor: pointer;
}

.preview-gallery-item:last-child {
     flex-grow: 10;
}

.preview-gallery-item img {
    max-height: 100%;
    min-width: 100%;
    object-fit: cover;
    vertical-align: bottom;
}

.preview-gallery-item:hover img {
    opacity: 0.2;
}
