<div class="footer">
    <a href="mailto:kseniiafast92@gmail.com" target="_blank" class="social-icon fa fa-envelope"></a>
    <a href="https://www.behance.net/kseniia_fast" target="_blank" class="social-icon fa fa-behance"></a>
    <a href="https://dribbble.com/kseniia_fast" target="_blank" class="social-icon fa fa-dribbble"></a>
    <a href="https://www.linkedin.com/in/kseniia-fast-96537290/" target="_blank" class="social-icon fa fa-linkedin"></a> 
    <a href="https://www.instagram.com/kseniia_fast/" target="_blank" class="social-icon fa fa-instagram"></a>    
</div>

@code {       
}
