<div class="header">
    <div><a href="#" class="header-logo"></a></div>
    <p class="header-title">
        Kseniia Fast
        <br />
        Illustrations & Motion Design
    </p>
    <p class="header-menu">
        <span>
            <NavLink  href="work">
                Work
            </NavLink>
        </span>
        -
        <span>
            <NavLink  href="about">
                About
            </NavLink>
        </span>
    </p>
</div>


@code {
}
