<div><a href="#" class="header-logo"></a></div>
<p class="header-title">
    Kseniia Fast
    <br />
    Graphic Design & Illustrations
</p>
<p class="header-menu">
    <span>
        <NavLink>
            Work
        </NavLink>
    </span>
    -
    <span>
        <NavLink>
            About
        </NavLink>
    </span>
</p>


@code {
}
